body{
  background-color: blue; 
}

h1 {
  position: absolute; 
  right: 1000px;
  Font-size: 150px;
}

#user{
  position: absolute;
  border-left-style: solid gray;
  border-radius: 10px;
  text-align: left;
  background-color: gray;
  right: 200px;
  bottom: 700px;
}

#pass{
  position: absolute;
  border-left-style: solid gray;
  border-radius: 10px;
  text-align: left;
  background-color: gray;
  right: 200px;
  bottom: 500px;
}

a:link {
  position: absolute;
  bottom: 220px;
  right: 750px;
  color: black;
  border: 3px white solid;
  font-size: 100px;
  border-radius: 10px;
  background-color: white;
  right: 1000px;
}
