body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  min-height: 100vh;
  background-color: blue;
}
h1 {
  position: fixed;
  margin-right: 320px;
  bottom: 840px;
  right: 430px;
  color: white;
}

#logo{
  position: fixed;
  bottom: 855px;
  right: 1050px;

}

#top-quote {
  position: fixed;
  margin-right: 420px;
  bottom: 640px;
  right: 430px;
  font-size: 30px;
  text-align: left; 
  color: white;
}

#bottom-quote {
  position: fixed;
  margin-left: 420px;
  bottom: 550px;
  right: 330px;
  font-size: 30px;
  text-align: right; 
  color: white;
}
