body {
      margin: 0;
      font-family: Arial, sans-serif;
      display: flex;
      min-height: 100vh;
      background-color: blue;
    }
h1 {
      position: fixed;
      bottom: 350px;
      right: 250px;
      width 30px;
      color: white;
}

