body {
      margin: 0;
      font-family: Arial, sans-serif;
      display: flex;
      min-height: 100vh;
      background-color: blue;
    }
h1 {
      position: fixed;
      bottom: 440px;
      right: 1120px;
      width 30px;
      color: white;
}

#logo{
      position: fixed;
      bottom: 450px;
      right: 1180px;
      
}
